<div class="loader-wrapper">
    <div class="main">
        <div>
            <ngx-skeleton-loader appearance="line" count="1"
                [theme]="{height: '34px', width: '200px', 'margin-bottom': '10px'}">
            </ngx-skeleton-loader>
        </div>
        <div>
            <ngx-skeleton-loader appearance="line"
                [theme]="{height: '40px', width: '30%', 'margin-bottom': '10px'}">
            </ngx-skeleton-loader>
        </div>
        <div>
            <ngx-skeleton-loader appearance="line"
                [theme]="{height: '40px', width: '30%', 'margin-bottom': '14px'}">
            </ngx-skeleton-loader>
        </div>
        <div>
            <ngx-skeleton-loader appearance="line"
                [theme]="{height: '56px', width: '62%', 'margin-bottom': '14px'}">
            </ngx-skeleton-loader>
        </div>
        <div>
            <ngx-skeleton-loader appearance="line" count="2"
                [theme]="{height: '40px', width: '30%', 'margin-right': '10px'}">
            </ngx-skeleton-loader>
        </div>
        <div>
            <ngx-skeleton-loader appearance="line"
                [theme]="{height: '40px', width: '128px', 'margin-top': '10px'}">
            </ngx-skeleton-loader>
        </div>
    </div>
    <div class="side">
        <ngx-skeleton-loader appearance="line" count="1"
            [theme]="{height: '100%', width: '100%'}">
        </ngx-skeleton-loader>
    </div>
</div>