<div class="page">
    <section *ngIf="isLoading$ | async" test-id="banner-loader">
        <div>
            <ngx-skeleton-loader appearance="line" count="1"
                [theme]="{height: '25px', width: '200px', 'margin-top': '5px'}">
            </ngx-skeleton-loader>
        </div>
        <div>
            <ngx-skeleton-loader appearance="line" count="1"
                [theme]="{height: '40px', width: '50%', 'margin-bottom': '10px'}">
            </ngx-skeleton-loader>
        </div>
        <div>
            <ngx-skeleton-loader appearance="line" count="1"
                [theme]="{height: '40px', width: '150px'}">
            </ngx-skeleton-loader>
        </div>
    </section>

    <section *ngIf="!(isLoading$ | async)" test-id="banner">
        <h1>Detalhes do banner</h1>
        <form [formGroup]="form" *ngIf="form">
            <mat-form-field>
                <mat-label>Produto</mat-label>
                <mat-select formControlName="productId">
                    <mat-option *ngFor="let product of products$ | async" [value]="product.id">
                        {{product.name}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="form.get('productId')?.hasError('required')">
                    Produto é obrigatório
                </mat-error>
            </mat-form-field>
            <div>
                <button type="button" mat-raised-button color="primary" [disabled]="!form.valid"
                    (click)="save()" *ngIf="!(isSaving$ | async)" test-id="save-button">
                    Salvar
                </button>
                <button type="button" mat-button *ngIf="isSaving$ | async">
                    <mat-spinner color="primary" diameter="20" test-id="save-loader"></mat-spinner>
                </button>
            </div>
        </form>
    </section>
</div>