<h2>Imagens</h2>

<div *ngIf="(isLoadingImages$ | async)" test-id="images-loader">
    <ngx-skeleton-loader appearance="line" count="3"
        [theme]="{height: '100px', width: '100%', 'margin-bottom': '5px'}">
    </ngx-skeleton-loader>
    <div align="right">
        <ngx-skeleton-loader appearance="line" count="1"
            [theme]="{height: '36px', width: '91px', 'margin-bottom': 0}">
        </ngx-skeleton-loader>
    </div>
</div>

<div *ngIf="!(isLoadingImages$ | async)" test-id="images-form">
    <div *ngIf="(images$ | async)?.length === 0" align="middle" test-id="no-results-found">
        Nenhuma imagem encontrada
    </div>

    <div *ngIf="(images$ | async)?.length !== 0" test-id="images">
        <div *ngFor="let image of (images$ | async)" class="image-wapper">
            <button type="button" mat-icon-button color="warn" class="display-on-hover"
                (click)="askRemoveImage(image)" test-id="remove-image-button">
                <mat-icon>delete_forever</mat-icon>
            </button>
            <img [src]="image.imageUrl" />
        </div>
    </div>
    <button type="button" mat-raised-button color="primary" (change)="uploadImage($event)"
        *ngIf="!(isUploadingImage$ | async)" test-id="add-image-button">
        <input type="file" accept=".png, .jpg"/>
        Adicionar imagem
    </button>
    <button type="button" mat-button *ngIf="isUploadingImage$ | async">
        <div align="center">
            <mat-spinner color="primary" diameter="20" test-id="add-image-button-loader"></mat-spinner>
        </div>
    </button>
</div>