<mat-card-title class="padding-top">Taxa de serviço</mat-card-title>
<mat-card-content>
    <form [formGroup]="serviceTaxForm" *ngIf="serviceTaxForm">
        <mat-form-field>
            <mat-label>Taxa de serviço</mat-label>
            <input matInput placeholder="Taxa de serviço" type="number"
                formControlName="serviceTax">
        </mat-form-field>

        <app-button-loader
            [isDisabled]="!serviceTaxForm.valid"
            [isLoading]="(isSaving$ | async)"
            (onClick)="save()">
        </app-button-loader>

        <div><mat-hint>* Esse será o valor aplicado a cada compra</mat-hint></div>
    </form>
</mat-card-content>