<section *ngIf="(isLoading$ | async)" class="page-loading" test-id="categories-loader">
    <app-page-list-loader></app-page-list-loader>
</section>

<section *ngIf="!(isLoading$ | async)" class="page" test-id="categories">
    <h1>Categorias</h1>
    <div align="right">
        <button type="button" mat-button color="primary" (click)="goToNewCategoryPage()"
            test-id="add-category-button">
            Adicionar categoria
        </button>
    </div>
    <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Nome</th>
          <td mat-cell *matCellDef="let element">{{element.name}}</td>
        </ng-container>
        <ng-container matColumnDef="showProduct">
            <th mat-header-cell *matHeaderCellDef>Visível?</th>
            <td mat-cell *matCellDef="let element" (click)="$event.stopPropagation()">
                <mat-slide-toggle color="primary"
                    (toggleChange)="toggleVisibility(element)"
                    [checked]="element.isVisible === false ? false : true"
                    [disabled]="(isChangingVisibility$ | async)"
                    *ngIf="(categoryChangingVisibilityId$ | async) !== element.id"
                    test-id="visibility-toggle">
                </mat-slide-toggle>
                <mat-icon color="primary"
                    *ngIf="(categoryChangingVisibilityId$ | async) === element.id"
                    test-id="visibility-loader">
                    hourglass_top
                </mat-icon>
            </td>
        </ng-container>
        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
                <button type="button" mat-button color="warn" (click)="askRemove($event, element)"
                    class="display-on-hover" test-id="remove-category-button">
                    <mat-icon>delete_forver</mat-icon>
                </button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="goToCategoryDetail(row)"></tr>
    </table>
    <div *ngIf="!(hasCategories$ | async)" align="middle" test-id="no-results-found">
        Nenhum resultado encontrado
    </div>
</section>