<mat-drawer-container>
    <mat-drawer mode="side" opened position="end" *ngIf="(product$ | async)" class="hide-on-mobile"
        test-id="product-images">
        <app-product-images></app-product-images>
    </mat-drawer>
    <mat-drawer-content>
        <section *ngIf="(isLoading$ | async)" class="page-loading" test-id="product-loader">
            <app-product-detail-loading></app-product-detail-loading>
        </section>
        
        <section *ngIf="!(isLoading$ | async)" class="page" test-id="product">
            <h1>Detalhes do produto</h1>
            <form [formGroup]="form" *ngIf="form">
                <div class="form-wrapper">
                    <mat-form-field class="width-50">
                        <mat-label>Nome</mat-label>
                        <input matInput placeholder="Nome" formControlName="name">
                        <mat-error *ngIf="form.get('name')?.hasError('required')">
                            Nome é obrigatório
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="width-50">
                        <mat-label>Categoria</mat-label>
                        <mat-select formControlName="categoryId">
                            <mat-option *ngFor="let category of categories$ | async" [value]="category.id">
                                {{category.name}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="form.get('category')?.hasError('required')">
                            Categoria é obrigatória
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="form-wrapper">
                    <mat-form-field class="description" class="width-100">
                        <mat-label>Descrição do produto</mat-label>
                        <textarea matInput formControlName="description"></textarea>
                    </mat-form-field>
                </div>
                <div class="form-wrapper">
                    <mat-form-field class="width-25">
                        <mat-label>Preço</mat-label>
                        <input matInput type="number" placeholder="Preço" formControlName="price">
                        <mat-error *ngIf="form.get('name')?.hasError('required')">
                            Preço é obrigatório
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="width-25">
                        <mat-label>Preço com desconto</mat-label>
                        <input matInput type="number" placeholder="Preço com desconto"
                            formControlName="priceWithDiscount">
                        <mat-error *ngIf="form.get('priceWithDiscount')?.hasError('required')">
                            Preço com desconto é obrigatório
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="width-25">
                        <mat-label>Unidade de venda</mat-label>
                        <mat-select formControlName="unit">
                            <mat-option value="KG">Peso</mat-option>
                            <mat-option value="UN">Unidade</mat-option>
                        </mat-select>
                        <mat-error *ngIf="form.get('unit')?.hasError('required')">
                            Unidade de venda é obrigatório
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="width-25">
                        <mat-label>Peso (em Kg)</mat-label>
                        <input matInput type="number" placeholder="Peso (em Kg)" formControlName="weight">
                        <mat-error *ngIf="form.get('weight')?.hasError('required')">
                            Peso (kg) é obrigatório
                        </mat-error>
                    </mat-form-field>
                </div>
        
                <button type="button" mat-raised-button color="primary" (click)="save()"
                    [disabled]="!form.valid" *ngIf="!(isSaving$ | async)" test-id="save-button">
                    Salvar detalhes
                </button>
                <button type="button" mat-button *ngIf="isSaving$ | async">
                    <mat-spinner color="primary" diameter="20" test-id="save-loader"></mat-spinner>
                </button>
            </form>
        
            <section *ngIf="(product$ | async)" test-id="stock">
                <mat-divider></mat-divider>
                <div class="stock-list">
                    <app-stock-list></app-stock-list>
                </div>
                <div class='show-on-mobile'>
                    <app-product-images></app-product-images>
                </div>
            </section>
        </section>
    </mat-drawer-content>
</mat-drawer-container>