mat-form-field,
button {
    margin-right: 10px;
}

button {
    margin-top: 10px;
}

mat-divider {
    margin: 20px 0;
}

mat-drawer-container {
    min-height: 100vh;

    mat-drawer {
        padding: 10px;
        width: 200px;
    }
}

.stock-list {
    margin-bottom: 10px;
}

@media only screen and (max-width: 1130px) {
    mat-form-field {
        width: 100%;
    }
}