mat-form-field,
button {
    margin-right: 10px;
}

button {
    margin-top: 10px;
}

mat-divider {
    margin: 20px 0;
}

.centralize {
    flex-direction: row;
    justify-content: start;
}
.color {
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-right: 10px;
}

@media only screen and (max-width: 1130px) {
    mat-form-field {
        width: 100%;
    }
}