<section *ngIf="(isLoading$ | async)" class="page-loading" test-id="product-loader">
    <div>
        <ngx-skeleton-loader appearance="line" count="1"
            [theme]="{height: '32px', width: '123px', 'margin-bottom': '16px'}">
        </ngx-skeleton-loader>
    </div>
    <div>
        <ngx-skeleton-loader appearance="line" count="1"
            [theme]="{height: '56px', width: '100%', 'margin-bottom': 0}">
        </ngx-skeleton-loader>
        <ngx-skeleton-loader appearance="line" count="3"
            [theme]="{height: '48px', width: '100%', 'margin-bottom': 0}">
        </ngx-skeleton-loader>
    </div>
</section>

<section *ngIf="!(isLoading$ | async)" class="page" test-id="product">
    <h1>Detalhes do produto</h1>
    <form [formGroup]="form" *ngIf="form">
        <div>
            <mat-form-field>
                <mat-label>Nome</mat-label>
                <input matInput placeholder="Nome" formControlName="name">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Categoria</mat-label>
                <mat-select formControlName="category">
                    <mat-option *ngFor="let category of categories$ | async" [value]="category.id">
                        {{category.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Preço</mat-label>
                <input matInput type="number" placeholder="Preço" formControlName="price">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Preço com desconto</mat-label>
                <input matInput type="number" placeholder="Preço com desconto"
                    formControlName="priceWithDiscount">
            </mat-form-field>
        </div>
        
        <button type="button" mat-raised-button color="primary" (click)="save()"
            test-id="save-button">
            Salvar
        </button>
    </form>
</section>