<div>
    <ngx-skeleton-loader appearance="line" 
        [theme]="{height: '32px', width: '123px', 'margin-bottom': '16px'}">
    </ngx-skeleton-loader>
</div>
<div align="right">
    <ngx-skeleton-loader appearance="line"
        [theme]="{height: '32px', width: '123px'}">
    </ngx-skeleton-loader>
</div>
<div>
    <ngx-skeleton-loader appearance="line"
        [theme]="{height: '56px', width: '100%', 'margin-bottom': 0}">
    </ngx-skeleton-loader>
    <ngx-skeleton-loader appearance="line" count="3"
        [theme]="{height: '48px', width: '100%', 'margin-bottom': 0}">
    </ngx-skeleton-loader>
</div>