<section class="page" *ngIf="purchase$ | async; let purchase">
    <mat-list role="list">
        <mat-list-item role="listitem" *ngFor="let product of purchase.products">
            <span class="total-product-price">
                {{product.amount * (product.priceWithDiscount || product.price) | currency: "R$ "}}
            </span>
            <div mat-line>{{product.amount}}x {{product.name}}</div>
            <div mat-line>
                <span class="price"
                    [ngClass]="product.priceWithDiscount ? 'line-through' : ''">
                    {{product.price | currency: "R$ "}}
                </span>
                <span *ngIf="product.priceWithDiscount">
                    {{product.priceWithDiscount | currency: "R$ "}}
                </span>
            </div>
        </mat-list-item>
        <mat-list-item role="listitem" *ngIf="purchase.price?.delivery">
            <span class="total-product-price">
                {{purchase.price?.delivery | currency: "R$ "}}
            </span>
            <div mat-line>Taxa de entrega</div>
        </mat-list-item>
        <mat-list-item role="listitem" *ngIf="purchase.price?.paymentFee">
            <span class="total-product-price">
                {{purchase.price?.paymentFee | currency: "R$ "}}
            </span>
            <div mat-line>Taxa do cartão de crédito</div>
        </mat-list-item>
    </mat-list>
    <mat-list role="list">
        <mat-list-item role="listitem">
            <span class="total-product-price">
                <b>{{purchase.price?.totalWithPaymentFee | currency: "R$ "}}</b>
            </span>
            <div mat-line>
                <b>
                    Total:
                    <div>
                        {{purchase.totalAmount | number}}
                        {{purchase.totalAmount === 1 ? 'produto' : 'produtos'}}
                    </div>
                </b>
            </div>
        </mat-list-item>
    </mat-list>
</section>