<section *ngIf="(isLoading$ | async)" class="page-loading" test-id="products-loader">
    <app-page-list-loader></app-page-list-loader>
</section>

<section *ngIf="!(isLoading$ | async)" class="page" test-id="products">
    <h1>Produtos</h1>
    <div align="right">
        <button type="button" mat-button color="primary" (click)="goToAddProductDetail()"
            test-id="add-product-button">
            Adicionar produto
        </button>
    </div>
    <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Nome</th>
          <td mat-cell *matCellDef="let element">{{element.name}}</td>
        </ng-container>
        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef>Categoria</th>
          <td mat-cell *matCellDef="let element">{{element.categoryId | categoryName | async}}</td>
        </ng-container>
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef>Preço</th>
          <td mat-cell *matCellDef="let element">{{element.price | currency: "R$ "}}</td>
        </ng-container>
        <ng-container matColumnDef="priceWithDiscount">
          <th mat-header-cell *matHeaderCellDef>Preço com desconto</th>
          <td mat-cell *matCellDef="let element">{{element.priceWithDiscount | currency: "R$ "}}</td>
        </ng-container>
        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
                <button type="button" mat-icon-button color="warn" (click)="askRemove($event, element)"
                    class="display-on-hover" test-id="remove-product-button">
                    <mat-icon>delete_forver</mat-icon>
                </button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="goToProductDetail(row)"></tr>
    </table>
    <div *ngIf="!(hasProducts$ | async)" align="middle" test-id="no-results-found">
        Nenhum resultado encontrado
    </div>
</section>