<section class="centralize" *ngIf="(isVerifyingUserLogged$ | async)">
    <mat-spinner diameter="40" test-id="app-loader"></mat-spinner>
</section>

<mat-drawer-container *ngIf="!(isVerifyingUserLogged$ | async)">
    <mat-drawer mode="side" opened *ngIf="user$ | async">
        <app-side-menu (itemSelected)="hideMenu()"></app-side-menu>
    </mat-drawer>
    <mat-drawer-content>
        <div class="show-on-mobile">
            <mat-toolbar>
                <button mat-icon-button (click)="showMenu = !showMenu">
                    <mat-icon>menu</mat-icon>
                </button>
            </mat-toolbar>
            <div *ngIf="showMenu">
                <mat-card *ngIf="showMenu">
                    <mat-card-title align="right">
                        <button mat-icon-button (click)="showMenu = !showMenu">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-card-title>
                    <app-side-menu (itemSelected)="hideMenu()"></app-side-menu>
                </mat-card>
                <div class="sidemenu-overlay" (click)="showMenu = !showMenu"></div>
            </div>
        </div>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>