<section class="centralize" *ngIf="(isVerifyingUserLogged$ | async)">
    <mat-spinner diameter="40" test-id="app-loader"></mat-spinner>
</section>

<span *ngIf="!(isVerifyingUserLogged$ | async)">
    <mat-toolbar color="primary" class="hide-on-mobile">
        <span>{{(company$ | async)?.name}}</span>
        <div class="pull-right">
            <button mat-button (click)="logout()" test-id="logout-button">
                <mat-icon mat-list-icon>logout</mat-icon> Sair
            </button>
        </div>
    </mat-toolbar>
    <mat-drawer-container>
        <mat-drawer mode="side" opened *ngIf="user$ | async">
            <app-side-menu (itemSelected)="hideMenu()"></app-side-menu>
        </mat-drawer>
        <mat-drawer-content>
            <div class="show-on-mobile">
                <mat-toolbar>
                    <button mat-icon-button (click)="showMenu = !showMenu">
                        <mat-icon>menu</mat-icon>
                    </button>
                </mat-toolbar>
                <div *ngIf="showMenu">
                    <mat-card *ngIf="showMenu">
                        <mat-toolbar color="primary">
                            <span>{{(company$ | async)?.name}}</span>
                            <div class="pull-right">
                                <button mat-icon-button (click)="showMenu = !showMenu">
                                    <mat-icon>close</mat-icon>
                                </button>
                            </div>
                        </mat-toolbar>
                        <app-side-menu (itemSelected)="hideMenu()"></app-side-menu>
                    </mat-card>
                    <div class="sidemenu-overlay" (click)="showMenu = !showMenu"></div>
                </div>
            </div>
            <router-outlet></router-outlet>
        </mat-drawer-content>
    </mat-drawer-container>
</span>