<mat-list *ngIf="user$ | async">
    <mat-list-item (click)="goToPage('/home')">
        <mat-icon mat-list-icon>home</mat-icon>
        <div mat-line>Home</div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item (click)="goToPage('/companies')" test-id="company-button">
        <mat-icon mat-list-icon>store</mat-icon>
        <div mat-line>Empresa</div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item (click)="goToPage('/categories')" test-id="categories-button">
        <mat-icon mat-list-icon>category</mat-icon>
        <div mat-line>Categorias</div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item (click)="goToPage('/products')" test-id="products-button">
        <mat-icon mat-list-icon>shopping_bag</mat-icon>
        <div mat-line>Produtos</div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item (click)="goToPage('/banners')" test-id="banners-button">
        <mat-icon mat-list-icon>photo</mat-icon>
        <div mat-line>Banners</div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item (click)="goToPage('/purchases')" test-id="purchases-button">
        <mat-icon mat-list-icon>shopping_cart</mat-icon>
        <div mat-line>Compras</div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item (click)="goToPage('/users')" test-id="users-button">
        <mat-icon mat-list-icon>group</mat-icon>
        <div mat-line>Clientes</div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item (click)="goToPage('/cupoms')" test-id="cupoms-button">
        <mat-icon mat-list-icon>verified</mat-icon>
        <div mat-line>Cupons</div>
    </mat-list-item>
    <span *ngIf="(company$ | async)?.canUpdateStock">
        <mat-divider></mat-divider>
        <mat-list-item (click)="updateStock()" test-id="update-stock-button">
            <mat-icon mat-list-icon>sync_alt</mat-icon>
            <div mat-line>Atualizar estoque</div>
        </mat-list-item>
    </span>
    <span class="show-on-mobile">
        <mat-divider></mat-divider>
        <mat-list-item (click)="logout()" test-id="logout-button">
            <mat-icon mat-list-icon>logout</mat-icon>
            <div mat-line>Sair</div>
        </mat-list-item>
    </span>
</mat-list>