mat-card {
    margin-bottom: 1rem;
}
mat-card-title {
    font-size: 1.2rem !important;
}

table td,
table th {
    text-align: center;
}

.payment-details {
    display: flex;
    justify-content: center;

    mat-icon {
        margin-left: 0.5rem;
        color: blue;
    }
}