<mat-card>
    <mat-card-title>Meios de pagamento</mat-card-title>
    <mat-card-content>
        <form [formGroup]="paymentForm">
            <div>
                <mat-checkbox color="primary" formControlName="isPaymentAfterPurchase">
                    Cliente paga depois da compra aprovada
                </mat-checkbox>
                <div>
                    <mat-hint>
                        Cliente deve pagar antes ou depois da compra aprovada?
                        <br/>ANTES: o valor final da compra não pode ser modificado pelo administrador.
                        <br/>Ex.: A loja vende roupas e o cliente pediu uma calça. O administrador não precisa ajustar o preço.
                        <br/>DEPOS: o administrador pode ajustar o valor final da compra.
                        <br/>Ex.: A loja vende frutas e o cliente pediu 1kg de maçã, mas o peso final deu 1.2kg. Então o administrador pode ajustar o preço.
                    </mat-hint>
                </div>
            </div>
            <br/><br/>
            <div>
                <mat-checkbox color="primary" formControlName="money">Dinheiro</mat-checkbox>
            </div>
            <div>
                <mat-checkbox color="primary" formControlName="hasPix" test-id="pix">
                    PIX
                </mat-checkbox>
                <div class="margin" *ngIf="paymentForm.value.hasPix">
                    <mat-form-field class="width-2" test-id="pix-key">
                        <mat-label>Chave PIX</mat-label>
                        <input matInput formControlName="pixKey" placeholder="Chave PIX*">
                    </mat-form-field>
                    <mat-error *ngIf="paymentForm.get('pixKey')?.hasError('email')">
                        Chave PIX é obrigatória
                    </mat-error>
                </div>
            </div>
            <div>
                <mat-checkbox color="primary" formControlName="hasCreditCard"
                    test-id="has-credit-card">
                    Cartão de crédito
                </mat-checkbox>
                <div class="margin" *ngIf="paymentForm.value.hasCreditCard"
                    formGroupName="creditCard">
                    <div formGroupName="fee">
                        <div>
                            <mat-label>
                                Valores que serão adicionados ao total da compra:
                            </mat-label>
                        </div>
                        <mat-form-field test-id="credit-card-percentage">
                            <mat-label>Percentual</mat-label>
                            <input matInput formControlName="percentage" type="number"
                                placeholder="Percentual">
                        </mat-form-field>
                        <mat-error *ngIf="paymentForm.get('creditCard')?.get('fee')?.get('percentage')?.hasError('email')">
                            Percentual é obrigatório
                        </mat-error>
                        <mat-form-field test-id="credit-card-fee">
                            <mat-label>Valor por pagamento (R$)</mat-label>
                            <input matInput formControlName="value" type="number"
                                placeholder="Valor por pagamento (R$)">
                        </mat-form-field>
                        <mat-error *ngIf="paymentForm.get('creditCard')?.get('fee')?.get('value')?.hasError('email')">
                            Valor é obrigatório
                        </mat-error>
                    </div>
                    <br/>
                    <mat-label>Bandeiras</mat-label>
                    <div class="margin" formGroupName="flags">
                        <div *ngFor="let creditCard of creditCards; let i = index" [formGroupName]="i">
                            <mat-checkbox color="primary" formControlName="selected">
                                {{creditCard}}
                            </mat-checkbox>
                        </div>
                    </div>
                    <mat-error *ngIf="paymentForm.hasError('required')">
                        Informar pelo menos uma bandeira é obrigatório
                    </mat-error>
                </div>
            </div>
            <button type="button" mat-raised-button (click)="savePayment()" color="primary"
                *ngIf="!(isSaving$ | async)" test-id="save-payment-button">
                Salvar pagamento
            </button>
            <mat-spinner color="primary" diameter="20" *ngIf="isSaving$ | async"
                test-id="payment-loader">
            </mat-spinner>
        </form>
    </mat-card-content>
</mat-card>