table th,
table td {
    text-align: center;
}

.payment-details {
    display: flex;
    justify-content: center;
    text-align: center;

    mat-icon {
        margin-left: 0.5rem;
        color: blue;
    }
}

mat-card {
    margin-bottom: 1rem;
}
mat-card-title {
    font-size: 1.2rem !important;
}

.print {
    width: 24px;
}

[mat-fab] {
    position: fixed;
    bottom: 20px;
    right: 20px;
}