<section *ngIf="isLoading$ | async" class="page-loading" test-id="purchases-loader">
    <app-page-list-loader></app-page-list-loader>
</section>

<section *ngIf="(isLoading$ | async) === false" class="page" test-id="purchases">
    <h1>Compras</h1>
    <table *ngIf="(purchases$ | async)?.length" mat-table [dataSource]="dataSource" class="hide-on-mobile">
        <ng-container matColumnDef="user">
            <th mat-header-cell *matHeaderCellDef>Email do usuário</th>
            <td mat-cell *matCellDef="let element">
                {{element.user?.email}}
            </td>
        </ng-container>
        <ng-container matColumnDef="totalAmount">
            <th mat-header-cell *matHeaderCellDef>Qtd itens</th>
            <td mat-cell *matCellDef="let element">
                {{element.totalAmount | number}}
            </td>
        </ng-container>
        <ng-container matColumnDef="delivery">
            <th mat-header-cell *matHeaderCellDef>Entrega</th>
            <td mat-cell *matCellDef="let element">
                {{element.address ? "Domicílio" : "Busca na loja"}}
            </td>
        </ng-container>
        <ng-container matColumnDef="totalPrice">
            <th mat-header-cell *matHeaderCellDef>Valor</th>
            <td mat-cell *matCellDef="let element">
                {{element.totalWithPaymentFee | currency: "R$ "}}
            </td>
        </ng-container>
        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef>Pedido em</th>
            <td mat-cell *matCellDef="let element">
                {{element.createdAt | date: "dd/MM/yyyy HH:mm:ss"}}
            </td>
        </ng-container>
        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>Estado</th>
            <td mat-cell *matCellDef="let element">
                {{element.status | statusName}}
            </td>
        </ng-container>
        <ng-container matColumnDef="payment">
            <th mat-header-cell *matHeaderCellDef>Pagamento</th>
            <td mat-cell *matCellDef="let element">
                <div class="payment-details">
                    {{element.payment?.type | paymentTypeName}}
                    <mat-icon
                        (click)="openReceipt(element.payment.receiptUrl)"
                        *ngIf="element.payment?.type === 'PIX' && element.payment?.receiptUrl"
                        title="Ver recibo" test-id="pix-receipt">
                        receipt_long
                    </mat-icon>
                </div>
                <div *ngIf="element.payment?.error" test-id="payment-error">
                    <mat-error>Erro: {{element.payment.error}}</mat-error>
                </div>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="goToPurchaseDetail(row)"></tr>
    </table>
    <mat-card *ngFor="let element of (purchases$ | async)" (click)="goToPurchaseDetail(element)">
        <mat-card-title>{{element.createdAt | date: "dd/MM/yyyy HH:mm:ss"}}</mat-card-title>
        <mat-card-subtitle>{{element.status | statusName}}</mat-card-subtitle>
        <mat-card-content>
            <div>Usuário: {{element.user?.email}}</div>
            <div>Qtd itens: {{element.totalAmount | number}}</div>
            <div>Entrega: {{element.address ? "Domicílio" : "Busca na loja"}}</div>
            <div>Preço total: {{element.totalWithPaymentFee | currency: "R$ "}}</div>
            <br/>
            <div *ngIf="element.payment">
                Pagamento: {{element.payment.type | paymentTypeName}}
                <div class="link" (click)="openReceipt(element.payment.receiptUrl, $event)"
                    *ngIf="element.payment?.type === 'PIX' && element.payment?.receiptUrl"
                    test-id="pix-receipt">
                    Ver recibo
                </div>
            </div>
            <div *ngIf="element.payment?.error" test-id="payment-error">
                <mat-error>Erro: {{element.payment.error}}</mat-error>
            </div>
        </mat-card-content>
    </mat-card>
    <div *ngIf="(purchases$ | async)?.length === 0" align="middle" test-id="no-results-found">
        Nenhum resultado encontrado
    </div>
</section>