<section *ngIf="isLoading$ | async" test-id="purchase-detail-loader">
    <app-purchase-detail-loader></app-purchase-detail-loader>
</section>

<div *ngIf="(purchase$ | async); let purchase">
    <mat-drawer-container *ngIf="(isLoading$ | async) === false" class="hide-on-mobile"
        test-id="purchase-detail">
        <mat-drawer mode="side" opened position="start" class="hide-on-mobile">
            <app-purchase-detail-data></app-purchase-detail-data>
        </mat-drawer>
        <mat-drawer-content>
            <app-purchase-detail-products></app-purchase-detail-products>
        </mat-drawer-content>
    </mat-drawer-container>

    <div class="show-on-mobile">
        <app-purchase-detail-data></app-purchase-detail-data>
        <app-purchase-detail-products></app-purchase-detail-products>
    </div>
</div>