mat-drawer-container {
    min-height: 100vh;

    .label {
        padding-bottom: 0.5rem;
    }
    label {
        font-weight: 500;
    }

    mat-drawer {
        padding: 0.5rem;
        max-width: 15rem;
    }

    mat-list {
        width: 50%;
        .price {
            margin-right: 1rem;
            &.line-through {
                text-decoration: line-through;
            }
        }
    
        .total-product-price {
            font-size: 18px;
            position: absolute;
            right: 10px;
        }
    }

    .mat-form-field-wrapper {
        margin-bottom: 0;
    }
}

.mobile {
    padding: 1rem;
}